{% extends 'authentication/base.html' %}
{% load static %}

{% block title %}Сброс пароля{% endblock title %}

{% block content %}
<body class="min-h-screen bg-gray-50 bg-no-repeat bg-bottom bg-fixed" style="background-image: url({% static 'authentication/svg/wave.svg' %});">
    <!-- Шапка -->
    <header class="flex justify-between items-center p-6 pb-0">
        {% include 'authentication/includes/logo.html' %}
        <!-- Кнопка Регистрация -->
        <div>
            <a href="{% url 'authentication:registration' %}" class="c_reg_auth_btn_green_a">Регистрация</a>
        </div>
    </header>

    <!-- Main Content -->
    <main class="flex flex-col justify-center p-1 sm:p-2 md:p-3 pb-12">
        <!-- Заголовок -->
        <div class="mx-auto max-w-md">
            <svg class="h-20 text-green-600 mx-auto" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 9v.906a2.25 2.25 0 0 1-1.183 1.981l-6.478 3.488M2.25 9v.906a2.25 2.25 0 0 0 1.183 1.981l6.478 3.488m8.839 2.51-4.66-2.51m0 0-1.023-.55a2.25 2.25 0 0 0-2.134 0l-1.022.55m0 0-4.661 2.51m16.5 1.615a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V8.844a2.25 2.25 0 0 1 1.183-1.981l7.5-4.039a2.25 2.25 0 0 1 2.134 0l7.5 4.039a2.25 2.25 0 0 1 1.183 1.98V19.5Z" />
            </svg>
            <h2 class="mt-2 sm:mt-4 md:mt-6 text-3xl font-bold text-gray-900">Сброс Пароля</h2>
        </div>
        <!-- Формочка -->
        <div class="c_reg_auth_div_form">
            <!-- Сообщение -->
            <div class="rounded-md bg-yellow-50 border border-yellow-500 p-2 flex gap-2 mt-1 sm:mt-2 md:mt-4 mb-6">
                <svg class="h-10 text-yellow-400 flex-none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                    <path fill-rule="evenodd" d="M11.484 2.17a.75.75 0 0 1 1.032 0 11.209 11.209 0 0 0 7.877 3.08.75.75 0 0 1 .722.515 12.74 12.74 0 0 1 .635 3.985c0 5.942-4.064 10.933-9.563 12.348a.749.749 0 0 1-.374 0C6.314 20.683 2.25 15.692 2.25 9.75c0-1.39.223-2.73.635-3.985a.75.75 0 0 1 .722-.516l.143.001c2.996 0 5.718-1.17 7.734-3.08ZM12 8.25a.75.75 0 0 1 .75.75v3.75a.75.75 0 0 1-1.5 0V9a.75.75 0 0 1 .75-.75ZM12 15a.75.75 0 0 0-.75.75v.008c0 .414.336.75.75.75h.008a.75.75 0 0 0 .75-.75v-.008a.75.75 0 0 0-.75-.75H12Z" clip-rule="evenodd" />
                </svg>
                <h3 class="text-sm font-medium text-yellow-800">Мы отправили вам письмо с инструкцией по установке нового пароля, если учетная запись с указанным вами электронным адресом существует.<br><br>Если вы не получили письмо, убедитесь, что вы ввели адрес, с которого зарегистрировались, и проверьте папку со спамом.</h3>
            </div>
            <!-- Кнопка Вернуться -->
            <a href="{% url 'authentication:login' %}" class="c_reg_auth_btn_green_a flex justify-center items-center">Вернуться</a>
        </div>
    </main>
</body>
{% endblock %}
