{% extends "base.html" %} {% load passfort_tags %} {% block title %}Генератор паролей{% endblock title %} {% block content %}
<main class="h-screen flex justify-center items-center px-4 container mx-auto">
  <div class="bg-white/60 backdrop-blur-md mx-auto rounded-xl shadow-xl max-w-sm w-full overflow-hidden">
    <form class="" method="POST" action="">
      {% csrf_token %}
      <!-- Аватар -->
      <div class="bg-teal-600 px-6 py-2" id="image">
        <div class="flex items-center space-x-4"></div>
      </div>
      <!-- Конец Аватарки -->

      <!-- Поля -->
      <div class="px-6 pt-4 flex flex-col items-center space-y-4">
        <div class="flex flex-col">
          <label class="text-lg font-medium text-gray-700 mb-1">{{ form.password_length.label }}</label>
          <div class="felx flex-row items-baseline space-x-2">
            {% comment %} <input class="gen_input peer w-24 text-center" type="text" /> {% endcomment %}
            {{ form.password_length|set_attrs:"class:gen_input peer w-24 text-center" }}
            <span class="text-base font-light">символов.</span>
          </div>
        </div>

        <fieldset class="flex flex-col">
          <legend class="text-lg font-medium text-gray-700">Использовать</legend>

          {% comment %} <input type="checkbox" class="gen_checkbox" /> {% endcomment %} {% for f in form %} {% if not forloop.first and not forloop.last %}
          <label class="text-gray-700"> {{ f|set_attrs:"class:gen_checkbox" }} {{ f.label }} </label>
          {% endif %} {% endfor %}
        </fieldset>

        <div class="flex flex-col">
          <label class="text-lg font-medium text-gray-700 mb-1">{{ form.user_simbols.label }}</label>
          {% comment %} <input class="gen_input peer w-44 text-center" type="text" /> {% endcomment %}
          {{ form.user_simbols|set_attrs:"class:gen_input peer w-44 text-center,placeholder:Любыве символы,autocomplete:off" }}
        </div>
        <!-- Создать -->
        <button class="font-semibold text-white text-xl w-full mt-5 py-2 bg-green-500 hover:bg-green-700 rounded-lg shadow-lg hover:shadow-xl focus:shadow-xl focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-400 transition duration-150 ease-in-out" type="submit">Сгенерировать</button>
      </div>
      <!-- Конец Полей -->
    </form>
    <div class="{% if password %}px-6 py-4{% else %}mt-4{% endif %}">
      {% if password %}
      <h3 class="text-center text-white bg-teal-600 hover:bg-teal-700 cursor-pointer active:bg-teal-800 border rounded-md py-1 select-none" id="copy-password">{{ password }}</h3>
      {% endif %}
    </div>
  </div>
</main>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const copyPasswordElement = document.getElementById("copy-password");

    copyPasswordElement.addEventListener("click", function () {
      const password = copyPasswordElement.textContent.trim();

      // Используем API для работы с буфером обмена
      navigator.clipboard
        .writeText(password)
        .then(function () {
          // Отображение уведомления о копировании (необязательно)
          alert("Пароль скопирован в буфер обмена!");
        })
        .catch(function (err) {
          console.error("Не удалось скопировать текст: ", err);
        });
    });
  });
</script>

{% endblock content %}
